ion-content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
}
.content {
  text-align: justify;
}

.verse {
  color: #4b5563;
  text-decoration: underline;
  cursor: pointer;
}
