<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Biblia</ion-title>
    <ion-icon
      slot="end"
      name="search-outline"
      style="margin-right: 10px"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container pagination="true">
    <swiper-slide *ngFor="let book of bible['BIBLEBOOK'] as Book">
      <swiper-slide
        style="padding: 0px 5px"
        *ngFor="let chapter of book['CHAPTER'] | keyvalue : originalOrder"
      >
        <app-chapter-view [data]="chapter" />
      </swiper-slide>
    </swiper-slide>
  </swiper-container>
</ion-content>
