:root {
  --ion-font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;

  --ion-color-primary: #00aeef;
  --ion-color-primary-rgb: 0, 174, 239;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0099cf;
  --ion-color-primary-tint: #33bff2;

  /** secondary **/
  --ion-color-secondary: #e5f4fa;
  --ion-color-secondary-rgb: 229, 244, 250;
  --ion-color-secondary-contrast: #0079b2;
  --ion-color-secondary-contrast-rgb: 0, 121, 178;
  --ion-color-secondary-shade: #c9e5f2;
  --ion-color-secondary-tint: #eff8fd;

  /** tertiary **/
  --ion-color-tertiary: #ffc107;
  --ion-color-tertiary-rgb: 255, 193, 7;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0a906;
  --ion-color-tertiary-tint: #ffcd39;

  /** success **/
  --ion-color-success: #28a745;
  --ion-color-success-rgb: 40, 167, 69;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #23963b;
  --ion-color-success-tint: #4cb75f;

  /** warning **/
  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0a906;
  --ion-color-warning-tint: #ffcd39;

  /** danger **/
  --ion-color-danger: #dc3545;
  --ion-color-danger-rgb: 220, 53, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #bd2e3c;
  --ion-color-danger-tint: #e35c6d;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #6c757d;
  --ion-color-medium-rgb: 108, 117, 125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #5e666d;
  --ion-color-medium-tint: #868e94;

  /** light **/
  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248, 249, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dfe2e5;
  --ion-color-light-tint: #f9fafb;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #212529;
  --ion-text-color-rgb: 33, 37, 41;
  --ion-border-color: #dee2e6;

  --ion-color-step-50: #f2f2f2;
  --ion-color-step-100: #e6e6e6;
  --ion-color-step-150: #dadada;
  --ion-color-step-200: #cccccc;
  --ion-color-step-250: #bfbfbf;
  --ion-color-step-300: #b3b3b3;
  --ion-color-step-350: #a6a6a6;
  --ion-color-step-400: #999999;
  --ion-color-step-450: #8c8c8c;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #737373;
  --ion-color-step-600: #666666;
  --ion-color-step-650: #595959;
  --ion-color-step-700: #4d4d4d;
  --ion-color-step-750: #404040;
  --ion-color-step-800: #333333;
  --ion-color-step-850: #262626;
  --ion-color-step-900: #191919;
  --ion-color-step-950: #0d0d0d;

  --ion-item-background: #ffffff;

  --ion-safe-background: #f8f9fa;
  --ion-statusbar-background: #00aeef;
  --ion-tab-bar-background: #e5f4fa;
  --ion-card-background: #ffffff;
}

.default {
  --ion-background-color: #ffffff;
  --ion-text-color: #212529;
  --ion-tab-bar-background: #e5f4fa;
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
  --ion-statusbar-background: #00aeef;
}

.dark {
  --ion-background-color: #121212;
  --ion-text-color: #e0e0e0;
  --ion-toolbar-background: #1e1e1e;
  --ion-tab-bar-background: #1a1a1a;
  --ion-card-background: #1a1a1a;
  --ion-item-background: #1a1a1a;
  --ion-statusbar-background: #00aeef;
  ion-action-sheet {
    --background: #e5f4fa;
  }
  ion-icon {
    color: #e0e0e0;
  }
}
